# Personnal files
/src/shared/locals.h
/src/shared/bFileLocals.h
/src/tests.cpp
/assets-cg/base
.DS_Store

# Outputs
/build-cg
/build-cg-push
/*.g3a*
*.o
/build

# Common IDE files
/linuxSudo
/geany
.vscode
*.geany
